html{
    height: 100%;
    margin: 0px;
    display: black;
}

.header{
    background-color: antiquewhite;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.header ul{
    margin-top: 5px;
    padding-left: 1px;
}

.header li{
    display: inline;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
}
.header a{
    text-decoration: none;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;

}

img{
    height: 95px;
    width: 275px;
    padding-top: 195px;
    padding-left: 100px;

}
